<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!--data-bs-theme="dark"-->
<head>
    <meta charset="UTF-8">
    <title>top</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!--        <a class="navbar-brand" href="#">Navbar</a>-->
        <!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--            <span class="navbar-toggler-icon"></span>-->
        <!--        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/back}">
                        <img src="/static/img/twitter.png" th:src="@{/img/book.png}" alt="Twitter Icon"
                             class="logo-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#search">検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/to-login}">
                        <img src="/static/img/my.png" th:src="@{/img/my.png}" alt="MyPage Icon" class="logo-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/?lang=ja">
                        <img src="/static/img/twitter.png" th:src="@{/img/twitter.png}" alt="Twitter Icon"
                             class="logo-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/">
                        <img src="/static/img/instagram.png" th:src="@{/img/instagram.png}" alt="Instagram Icon"
                             class="logo-icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
</svg>
<div class="container-fluid img-hidden">
    <img src="img/library.jpg" th:src=@{/img/library.jpg} class="img-fulied">
</div>
<h1>~Welcome to RP Library!~</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="flex-shrink-0 p-3">
                <div class="flex-shrink-0 p-3" style="width: 280px;">
                    <a href="/"
                       class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                        <svg class="bi me-2" width="30" height="24">
                            <use xlink:href="#bootstrap"/>
                        </svg>
                        <span class="fs-5 fw-semibold">ガイド</span>
                    </a>
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                    data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                                ホーム
                            </button>
                            <div class="collapse show" id="home-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">概要</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">更新</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">レポート</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
                                    aria-expanded="false">
                                ジャンル
                            </button>
                            <div class="collapse" id="dashboard-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">ミステリー</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">毎週</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">毎月</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">毎年</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                注文
                            </button>
                            <div class="collapse" id="orders-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">新品</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">処理済み</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">出荷済み</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">返品</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="border-top my-4"></li>
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0"
                                    data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                                アカウント
                            </button>
                            <div class="collapse" id="account-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="#" th:href="@{/to-login}"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">ログイン</a>
                                    </li>
                                    <li><a href="#" th:href="@{/to-registration}"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">新規会員登録</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">マイページへ</a>
                                    </li>
                                    <li><a href="#"
                                           class="link-body-emphasis d-inline-flex text-decoration-none rounded">サインアウト</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /折り畳み可能リストのサイドバー -->
        <div class="col-10">
            <div class="top">
                <div class="main">
                    <div class="container container-m">
                        <div class="row">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">今週のおすすめ⭐️</h5>
                                    <p class="card-text">図書広報課より今週のオススメの本３選をご紹介いたします。</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                            <div class="col">
                                <img class="card-img-top" src=".../100px200/" th:src="@{/img/society.jpg}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">古代世界への冒険</h5>
                                    <p class="card-text">
                                        古代文明から読み解く謎の暮らしに迫ります。現代科学でも説明できない超常現象も多く確認されており、ミステリー付きにぴったりの一冊。</p>
                                    <!--                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                                </div>
                            </div>
                            <div class="col">
                                <img class="card-img-top" src=".../100px200/" th:src="@{/img/chemistry.jpg}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">初めての科学実験</h5>
                                    <p class="card-text">
                                        科学と聞くと難しいイメージを思い浮かべるかもしれません。数式や化学式とか難しい〜〜という人でも安心です。私たちの身の回りの科学について丁寧に説明してるのでとても馴染みが深く初めての方にぴったりの一冊になっています。</p>
                                    <!--                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                                </div>
                            </div>
                            <div class="col">
                                <img class="card-img-top" src=".../100px200/" th:src="@{/img/english.jpg}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">英語と日本語何が違うの？</h5>
                                    <p class="card-text">
                                        英語ってなんだか早口で聞き取りづらくて苦手意識がある、、という方でも安心です。語学の成り立ちや構造を詳しくわかりやすく説明した一冊でこれをマスターすれば海外旅行も怖くない？！</p>
                                    <!--                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <form action="search.html" th:action="@{/search}" method="GET">
                            <div class="form-group">
                                <label for="book-title">題名</label>
                                <input type="text" class="form-control" id="book-title" name="title">
                            </div>
                            <div class="form-group">
                                <label for="book-publish-year">出版年</label>
                                <input type="text" class="form-control" id="book-publish-year" name="publish_year">
                            </div>
                            <div class="form-group">
                                <label for="genre">ジャンル</label>
                                <select class="form-control" id="genre" name="genre">
                                    <!-- ジャンルのオプションを追加 -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="author">著者</label>
                                <select class="form-control" id="author" name="author">
                                    <!-- 著者のオプションを追加 -->
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">本を検索</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <!--                <a class="navbar-brand" href="#">Navbar</a>-->
        <!--                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--                    <span class="navbar-toggler-icon"></span>-->
        <!--                </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/back}">
                        <img src="/static/img/twitter.png" th:src="@{/img/book.png}" alt="Twitter Icon"
                             class="logo-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#search">検索</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/to-login}">
                        <img src="/static/img/my.png" th:src="@{/img/my.png}" alt="MyPage Icon" class="logo-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/twitter.png" th:src="@{/img/twitter.png}" alt="Twitter Icon"
                             class="logo-icon">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/static/img/instagram.png" th:src="@{/img/instagram.png}" alt="Instagram Icon"
                             class="logo-icon">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
<footer class="footer"></footer>
</html>